<!doctype html>
<html lang="{{ lang }}">
  <head>
    <meta charset="utf-8">
    <meta
      name="viewport"
      content="width=device-width, height=device-height, initial-scale=1.0, minimum-scale=1.0, user-scalable=0.0"
    />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta
      name="apple-mobile-web-app-status-bar-style"
      content="black-translucent"
    >

    <title>{{ title }} by {{ author }}</title>
    <link rel="stylesheet" href="/styles.css">
    <script type="module" src="/scripts/invoker.js"></script>
    <script type="module" src="/scripts/main.js"></script>

    <script>
    {
      let value = localStorage.getItem("book_state") || "{}";
      value = JSON.parse(value);
      value = value?.fontSize;
      if (value) {
        document.documentElement.style.setProperty("--font-size", value);
      }
    }
    </script>

    <script type="application/ld+json">
      {{ JSON.stringify({
        "@context": "http://schema.org",
        "@type": "Book",
        name: title,
        author,
        description,
        url,
      }) }}
    </script>
  </head>

  <body>
    <page-turner>
      <button aria-label="Previous page" data-page="previous">←</button>
      <button aria-label="Next page" data-page="next">→</button>
    </page-turner>

    <dialog id="controls" class="menu">
      <div class="menu-options">
        <font-size>
          <button data-size="small">A</button>
          <button data-size="medium">A</button>
          <button data-size="normal">A</button>
          <button data-size="big">A</button>
          <button data-size="xbig">A</button>
        </font-size>

        <button class="menu-close" aria-label="Close" command="close" commandfor="controls">
          <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 256 256"><path d="M205.66,194.34a8,8,0,0,1-11.32,11.32L128,139.31,61.66,205.66a8,8,0,0,1-11.32-11.32L116.69,128,50.34,61.66A8,8,0,0,1,61.66,50.34L128,116.69l66.34-66.35a8,8,0,0,1,11.32,11.32L139.31,128Z"></path></svg>
        </button>
      </div>

      <nav class="toc">
        <h2>Table of Contents</h2>

        <ol>
        {{ for page of search.pages("", "url") }}
          {{ for item of page?.toc }}
            <li class="{{ page.url === url ? 'is-current' : '' }}">
              <a href="{{ page.url }}#{{ item.slug }}">{{ item.text }}</a>

              {{ if item.children.length }}
              <ol>
                {{ for child of item.children }}
                <li>
                  <a href="{{ page.url }}#{{ child.slug }}">{{ child.text }}</a>
                </li>
                {{ /for }}
              </ol>
              {{ /if }}
            </li>
            {{ /for }}
        {{ /for }}
        </ol>
      </nav>
    </dialog>

    <div class="book">
      {{ if url === "/" }}
      {{ if cover }}
      <a href="#book-instructions" class="page">
        <img src="{{ cover }}" alt="Book cover" />
      </a>
      {{ /if }}

      <aside class="page" id="book-instructions">
        <h2>Instructions</h2>
        <dl>
          <dt>On a phone:</dt>
          <dd>Tap the edges of the page</dd>

          <dt>On a computer:</dt>
          <dd>Click the edges of the page, or use the arrow keys,
          the space bar, the trackpad,
          or the scroll wheel</dd>

          <dt>To create a ☞ bookmark:</dt>
          <dd>Click on a title or subtitle to create a bookmark.</dd>
        </dl>
      </aside>

      <header class="page">
        <h1>{{ title }}</h1>
        <p>{{ author }}</p>
      </header>
      {{ /if }}

      {{ content }}

      {{ set nextPage = search.nextPage(url, "", "url") }}

      {{ if nextPage }}
      <nav class="page-next" aria-label="Next page">
        <a rel="next" href="{{ nextPage.url }}"><span>§</span> next →</a>
      </nav>
      {{ /if }}

      <div class="page"></div>
    </div>
    <!-- book -->

    <button class="menu-button" command="show-modal" commandfor="controls">
      <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 256 256"><path d="M80,64a8,8,0,0,1,8-8H216a8,8,0,0,1,0,16H88A8,8,0,0,1,80,64Zm136,56H88a8,8,0,0,0,0,16H216a8,8,0,0,0,0-16Zm0,64H88a8,8,0,0,0,0,16H216a8,8,0,0,0,0-16ZM44,52A12,12,0,1,0,56,64,12,12,0,0,0,44,52Zm0,64a12,12,0,1,0,12,12A12,12,0,0,0,44,116Zm0,64a12,12,0,1,0,12,12A12,12,0,0,0,44,180Z"></path></svg>
    </button>
  </body>
</html>
